.main {
  padding: 0 1rem;
}

.main__container {
  margin: 0 0 1.8rem 0;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1.5rem 0.5rem;
}

.main__buttons-pagination {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.main__btn {
  display: flex;
  appearance: none;
  border: none;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 400;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 0.7rem 0;
  width: 140px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.35s ease;
  background-color: var(--color-09);
  border: 2px solid transparent;
  color: var(--color-010);
}

.main__btn:hover,
.main__btn:focus {
  background-color: transparent;
  border-color: var(--color-09);
  color: var(--color-011);
}

.main__btn:disabled,
.main__btn:disabled:hover,
.main__btn:disabled:focus {
  opacity: 0.6;
  cursor: not-allowed;
}

.main__icon-btn {
  display: block;
  width: 16px;
  height: 16px;
  fill: var(--color-010);
  transition: all 0.35s ease;
}

.main__btn:hover .main__icon-btn,
.main__btn:focus .main__icon-btn {
  fill: var(--color-011);
}

.main__line-diviser--mg {
  margin: 1.5rem 0 0 0;
}

@media screen and (min-width: 376px) {
  .main {
    max-width: 1000px;
    margin: 0 auto;
  }

  .main__number {
    font-size: 1.4rem;
  }
}
