.comment__name{
    color: #212529;
    font-size: 1.25rem;
    margin: 0 0 0.4rem 0;
    font-weight: 500;
}

.comment__user{
    display: inline-block;
    background-color: #DDF4FF;
    color: #097FE5;
    font-size: 0.85rem;
    padding: 0.2rem 0.5rem;
    border-radius: 5px;
    margin: 0 0 0.5rem 0;
    text-decoration: none;
}

.comment__user:hover, .comment__user:focus{
    text-decoration: underline;
}

.comment__content{
    line-height: 1.4;
    font-size: 1rem;
}