.wrapper__main {
  padding: 0 1rem 1rem 1rem;
}

.wrapper__table-datas-user {
  width: auto;
  margin: 0 auto 1.8rem auto;
  border-collapse: collapse;
  border: 1px solid var(--color-017);
  /*border-radius: 8px;*/
}

.wrapper__table-row:not(:last-child) {
  border-bottom: 1px solid var(--color-017);
}

.wrapper__table-header,
.wrapper__table-data {
  text-align: left;
  padding: 8px;
}

.wrapper__table-header {
  border-right: 1px solid var(--color-017);
  background-color: var(--color-018);
  font-size: 1rem;
  font-weight: 500;
  color: var(--color-07);
}

.wrapper__table-data {
  font-size: 0.95rem;
  font-weight: 400;
}

.wrapper__subtitle {
  font-size: 1.8rem;
  text-align: center;
  font-weight: 700;
  line-height: 1.2;
  margin: 0 0 15px 0;
}

.wrapper__list-posts-user {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 0.5rem;
}

.wrapper__table-link {
  display: inline-block;
  background-color: var(--color-03);
  color: var(--color-04);
  font-size: 0.85rem;
  padding: 0.2rem 0.5rem;
  border-radius: 5px;
  text-decoration: none;
}

.wrapper__table-link:hover,
.wrapper__table-link:focus {
  text-decoration: underline;
}

@media screen and (min-width: 376px) {
  .wrapper__posts-user {
    max-width: 1000px;
    margin: 0 auto;
  }

  .wrapper__main {
    padding: 0 1.5rem 1rem 1.5rem;
  }
}
